<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<form action="/login" method="post" class="section">
    <h1>
        Welcome to the login page!
    </h1>
<br>
    <div class="inputs">
        <label for="email" type="email">Email</label><input type="text" name="mail"><br>
        <label for="password" type="password">Password</label><input type="password" name="pass">  <br>
        <button class="btn" type="submit">Login</button>
    </div>
</form>
</body>
</html>